$wrap-vpad: 1rem;
$wrap-hpad: 1.5rem;

.wrap {
  padding: $wrap-vpad $wrap-hpad;
}

.hide {
  display: none;
}

%click {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.site {
  height: 100%;
  overflow: hidden;
}

$menu-height: $lineheight + 2 * $wrap-vpad;

.site__section {
  border-right: 1px solid $border-base;
  overflow: scroll;
}

.site__global {
  background: $background-accent;
}

$prompt-width: 1.25rem;
$prompt-height: 4rem;
$term-hpad: 0.25rem;
$term-vpad: 0.1rem;

.global__term {
  font-size: $size-small;
}

.global__term, .term__input {
  height: 100%;
}

.input__cmd {
  height: $prompt-height;
}

.term__entry {
  width: 100%;
  padding: $term-vpad $term-hpad;

  .term__output & {
    color: $color-fade;
  }
}

.input__prompt, .output__prompt {
  float: left;
  width: $prompt-width;
}

.input__cmd, .output__cmd {
  width: calc(100% - #{$prompt-width});
  display: inline-block;
}

.output__results {
  width: 100%;
}

$edit-meta-height: 1.0rem + 2 * $wrap-vpad;

.edit__main {
  border-top: 1px solid $border-base;
  height: calc(100% - #{$edit-meta-height});
}

.edit__meta {
  height: $edit-meta-height;
}

.site__edit textarea {
  width: 100%;
  height: 100%;
  font-family: $font-input;
  font-size: $size-input;
  line-height: $lineheight-input-unitless;
}

.view__title {
  font-weight: bold;
  font-family: $font-text;
  font-size: $size-huge;
  margin-bottom: 1rem;
}

.view__content {
  padding-bottom: 15rem;
}
