$font-main: "Helvetica Neue", sans-serif;
$font-input: "Menlo", monospace;
$font-text: "Times New Roman", serif;

$size-base: 14px;
$size-input: 13px;
$size-text: 16px;
$size-small: .9em;
$size-large: 1.1em;
$size-huge: 1.3em;

$lineheight-unitless: 1.3;
$lineheight: $lineheight-unitless * 1rem;
$lineheight-input-unitless: 1.3;
$lineheight-input: $lineheight-input-unitless * 1rem;

$background-base: #ffffff;
$background-dark: #444444;
$background-accent: #cccccc;

$color-base: #333333;
$color-light: #dddddd;
$color-accent: #777733;

$smallskip: 0.5rem;
$medskip: 1.0rem;
$bigskip: 2.0rem;
