* {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility; }
  *:focus {
    outline: none; }

html, body {
  height: 100%; }

html {
  font-family: "Menlo", monospace;
  font-size: 13px;
  line-height: 1.3;
  color: #333333;
  background: #ffffff; }
  @media (min-device-pixel-ratio: 2) {
    html {
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto; } }
  @media (max-width: 860px) {
    html {
      font-size: 90%; } }
  @media (max-width: 500px) {
    html {
      font-size: 80%; } }

a:link,
a:visited {
  text-decoration: underline;
  color: #333333; }

a.plain:link, a.plain:visited {
  text-decoration: none; }

a:hover {
  color: #777733; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1em; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  font-size: 0.9em; }

sup {
  top: -0.5em; }

sub {
  top: 0.5em; }

input, textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none; }

textarea {
  resize: none;
  display: block; }

@media print {
  body * {
    visibility: hidden; }

  .print, .print * {
    visibility: visible; }
  .print {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0; }
  .print, .print .site {
    overflow: visible; } }
.grid__col {
  float: left;
  position: relative;
  height: 100%;
  min-height: 1px; }
.grid__col-1-2 {
  width: 50%; }
.grid__col-2-2 {
  width: 100%; }
.grid__col-1-3 {
  width: 33.33333%; }
.grid__col-2-3 {
  width: 66.66667%; }
.grid__col-3-3 {
  width: 100%; }

.wrap {
  padding: 1rem 1.5rem; }

.hide {
  display: none; }

.site {
  height: 100%;
  overflow: hidden; }

.site__section {
  border-right: 1px solid #cccccc;
  overflow: scroll; }

.site__global {
  background: #fdfdfd; }

.global__term {
  font-size: 0.9em; }

.global__term, .term__input {
  height: 100%; }

.input__cmd {
  height: 4rem; }

.term__entry {
  width: 100%;
  padding: 0.1rem 0.25rem; }
  .term__output .term__entry {
    color: #888888; }

.input__prompt, .output__prompt {
  float: left;
  width: 1.25rem; }

.input__cmd, .output__cmd {
  width: calc(100% - 1.25rem);
  display: inline-block; }

.output__results {
  width: 100%; }

.edit__main {
  border-top: 1px solid #cccccc;
  height: calc(100% - 3rem); }

.edit__meta {
  height: 3rem; }

.site__edit textarea {
  width: 100%;
  height: 100%;
  font-family: "Menlo", monospace;
  font-size: 13px;
  line-height: 1.3; }

.view__title {
  font-weight: bold;
  font-family: utopia-std, "Times New Roman", serif;
  font-size: 1.5em;
  margin-bottom: 1rem; }

.view__content {
  padding-bottom: 15rem; }

.text {
  font-family: utopia-std, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.5; }
  .text h1,
  .text h2,
  .text h3,
  .text h4,
  .text h5,
  .text h6 {
    font-weight: bold;
    margin-top: 1rem;
    display: inline-block; }
    .text h1:after,
    .text h2:after,
    .text h3:after,
    .text h4:after,
    .text h5:after,
    .text h6:after {
      content: '.  '; }
    .text h1 + p,
    .text h2 + p,
    .text h3 + p,
    .text h4 + p,
    .text h5 + p,
    .text h6 + p {
      display: inline; }
      .text h1 + p:after,
      .text h2 + p:after,
      .text h3 + p:after,
      .text h4 + p:after,
      .text h5 + p:after,
      .text h6 + p:after {
        content: " ";
        display: block; }
  .text code {
    font-family: "Menlo", monospace;
    font-size: 14px; }
  .text hr,
  .text blockquote,
  .text figure {
    margin: 1rem 0; }
  .text ul,
  .text ol {
    margin: 0.5rem 0; }
  .text p + p {
    text-indent: 1.2em; }
  .text li ul,
  .text li ol {
    margin-bottom: 0; }
  .text figure, .text figure img {
    width: 100%; }
  .text figure figcaption {
    width: 75%; }
  .text blockquote {
    border-left: 2px solid #fdfdfd;
    margin-left: 2px;
    padding-left: 1rem; }
  .text ul {
    list-style-type: disc; }
  .text ol {
    list-style-type: lower-alpha; }
  .text ul, .text ol {
    margin-left: 2.0rem; }
    .text ul li, .text ol li {
      margin-bottom: 0.3rem; }
      .text ul li ul, .text ol li ul {
        list-style-type: circle; }
      .text ul li ol, .text ol li ol {
        list-style-type: lower-roman; }
      .text ul li ul li, .text ul li ol li, .text ol li ul li, .text ol li ol li {
        margin-bottom: 0.1rem; }

@media print {
  body * {
    visibility: hidden; }

  .site {
    overflow: visible; }

  .site__view {
    overflow: visible; }

  .site__view, .site__view * {
    visibility: visible; }
  .site__view {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none; } }

/*# sourceMappingURL=style.css.map */
